@import "../../global.scss";

.menu {
  width: 25%;
  height: 100vh;
  background: linear-gradient(-45deg, rgb(63, 60, 60) 50%, $mainColor 50%);
  position: fixed;
  top: 0;
  right: -25%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  @media (orientation: portrait) {
    width: 40%;
    right: -40%;
  }

  &.active {
    right: 0;
  }

  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 4.5vmin;
    font-weight: 300;
    color: white;
    width: 60%;

    .first {
      margin-top: 45%;
    }

    li {
      margin-bottom: 3.8vmin;

      @media (orientation: portrait) {
        margin-bottom: 8vh;
      }

      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
}
