@import "../../global.scss";

.topbar {
  width: 100%;
  height: 10.5vmin; //71px;
  background: linear-gradient(90deg, #dfe8eb 50%, rgb(63, 60, 60));
  color: $mainFontColor;
  position: fixed;
  top: 0;
  z-index: 3;
  overflow: hidden;

  .wrapper {
    padding: 1.5vmin 5vmin; //1.5vh 2.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 6.1vmin; //40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 3vw; //40px;
      }

      a {
        text-decoration: none;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 2.2vw; //30px;

        @media (orientation: portrait) {
          display: none;
        }

        .icon {
          font-size: 2.7vmin; //18px;
          margin-right: 0.3vw; //5px;
        }

        span {
          font-size: 2.3vmin; //15px;
          font-weight: 500;
        }

        a {
          font-size: 2.3vmin; //15px;
          font-weight: 500;
        }
      }
    }

    .right {
      .hamburger {
        width: 4.8vmin; //32px;
        height: 3.6vmin; //25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 0.5vmin; //3px;
          background-color: white;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background: linear-gradient(90deg, #dfe8eb 50%, rgb(63, 60, 60));

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
