@import "../../global.scss";

.portfolio {
  background: $mainBackground;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;

    @include galaxy {
      font-size: 30px;
    }

    @include iphoneX {
      font-size: 30px;
    }

    @include iphone5 {
      font-size: 30px;
    }

    @include gFold {
      font-size: 30px;
    }

    @include plus {
      font-size: 30px;
    }

    @include otherMobile {
      font-size: 30px;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include galaxy {
      width: 100%;
    }

    @include iphoneX {
      width: 100%;
    }

    @include iphone5 {
      width: 100%;
    }

    @include gFold {
      width: 100%;
    }

    @include plus {
      width: 100%;
    }

    @include otherMobile {
      width: 100%;
    }

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include galaxy {
        width: 125px;
        height: 95px;
      }

      @include iphoneX {
        width: 125px;
        height: 95px;
      }

      @include iphone5 {
        width: 125px;
        height: 95px;
        margin: 5px 10px;
      }

      @include gFold {
        width: 105px;
        height: 75px;
        margin: 5px 10px;
      }

      @include plus {
        width: 140px;
        height: 110px;
      }

      @include otherMobile {
        width: 140px;
        height: 110px;
        margin: 5px 10px;
      }

      h3 {
        position: absolute;
        font-size: 20px;

        @include galaxy {
          font-size: 15px;
        }

        @include iphoneX {
          font-size: 15px;
        }

        @include iphone5 {
          font-size: 15px;
        }

        @include gFold {
          font-size: 15px;
        }

        @include plus {
          font-size: 15px;
        }

        @include otherMobile {
          font-size: 15px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
