@import "../../global.scss";

.skills {
  background: $mainBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;
    margin-bottom: 20px;

    @include galaxy {
      font-size: 30px;
    }

    @include iphoneX {
      font-size: 30px;
    }

    @include iphone5 {
      font-size: 30px;
    }

    @include gFold {
      font-size: 30px;
    }

    @include plus {
      font-size: 30px;
    }

    @include otherMobile {
      font-size: 30px;
    }

    @include surface {
      font-size: 30px;
    }

    @include ipad {
      font-size: 30px;
    }

    @include iphone5_land {
      font-size: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include galaxy {
      width: 100%;
    }

    @include iphoneX {
      width: 100%;
    }

    @include iphone5 {
      width: 100%;
    }

    @include gFold {
      width: 100%;
    }

    @include plus {
      width: 100%;
    }

    @include otherMobile {
      width: 100%;
    }

    @include surface {
      width: 100%;
    }

    @include ipad {
      width: 100%;
    }

    @include ipadPro {
      width: 100%;
    }

    @include iphone5_land {
      width: 100%;
    }

    .imgContainer {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      margin-bottom: 30px;

      @include galaxy {
        width: 79px;
        height: 79px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include iphoneX {
        width: 85px;
        height: 85px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include iphone5 {
        width: 75px;
        height: 75px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      @include gFold {
        width: 73px;
        height: 73px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      @include plus {
        width: 98px;
        height: 98px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include otherMobile {
        width: 90px;
        height: 90px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include surface {
        width: 98px;
        height: 98px;
        margin-right: 20px;
        margin-bottom: 20px;
      }

      @include iphone5_land {
        width: 70px;
        height: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      img {
        width: 90px;

        @include galaxy {
          width: 60px;
        }

        @include iphoneX {
          width: 65px;
        }

        @include iphone5 {
          width: 55px;
        }

        @include gFold {
          width: 53px;
        }

        @include plus {
          width: 79px;
        }

        @include otherMobile {
          width: 70px;
        }

        @include surface {
          width: 79px;
        }

        @include iphone5_land {
          width: 50px;
        }
      }
    }
  }
}
