@import "../../global.scss";

.contact {
  background: $mainBackground;
  display: flex;

  @include galaxy {
    flex-direction: column;
  }

  @include iphoneX {
    flex-direction: column;
  }

  @include iphone5 {
    flex-direction: column;
  }

  @include gFold {
    flex-direction: column;
  }

  @include plus {
    flex-direction: column;
  }

  @include otherMobile {
    flex-direction: column;
  }

  .itemContainer {
    display: flex;

    .icon {
      font-size: 18px;
    }

    a {
      font-size: 15px;
    }

    @include galaxy {
      .icon {
        font-size: 14px;
      }

      a {
        font-size: 10px;
      }
    }

    @include iphoneX {
      .icon {
        font-size: 14px;
      }

      a {
        font-size: 10px;
      }
    }

    @include iphone5 {
      .icon {
        font-size: 14px;
      }

      a {
        font-size: 10px;
      }
    }

    @include gFold {
      .icon {
        font-size: 14px;
      }

      a {
        font-size: 10px;
      }
    }

    @include plus {
      .icon {
        font-size: 15px;
      }

      a {
        font-size: 11px;
      }
    }

    @include otherMobile {
      .icon {
        font-size: 15px;
      }

      a {
        font-size: 11px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include galaxy {
      margin-top: -70px;
    }

    @include iphoneX {
      margin-top: -100px;
    }

    @include iphone5 {
      margin-top: -60px;
    }

    @include gFold {
      margin-top: -70px;
    }

    @include plus {
      margin-top: -100px;
    }

    @include otherMobile {
      margin-top: -100px;
    }

    h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      color: #101f1d;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      margin-bottom: 5px;

      @include galaxy {
        font-size: 15px;
      }

      @include iphoneX {
        font-size: 15px;
      }

      @include iphone5 {
        font-size: 15px;
      }

      @include gFold {
        font-size: 15px;
      }

      @include plus {
        font-size: 15px;
      }

      @include otherMobile {
        font-size: 15px;
      }
    }

    form {
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include galaxy {
          width: 250px;
          height: 30px;
        }

        @include iphoneX {
          width: 250px;
          height: 30px;
        }

        @include iphone5 {
          width: 250px;
          height: 25px;
        }

        @include gFold {
          width: 230px;
          height: 30px;
        }

        @include plus {
          width: 300px;
          height: 35px;
        }

        @include otherMobile {
          width: 250px;
          height: 30px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include galaxy {
          width: 250px;
          height: 150px;
        }

        @include iphoneX {
          width: 250px;
          height: 150px;
        }

        @include iphone5 {
          width: 250px;
          height: 120px;
        }

        @include gFold {
          width: 230px;
          height: 150px;
        }

        @include plus {
          width: 300px;
          height: 185px;
        }

        @include otherMobile {
          width: 250px;
          height: 150px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #960220;
        }
      }

      span {
        color: green;
      }
    }
  }
}

.form-control {
  border: 1px solid #080808;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.phone {
  padding-top: 50px;
}

.phone,
.email {
  margin-bottom: 20px;

  @include galaxy {
    margin-bottom: 10px;
  }

  @include iphoneX {
    margin-bottom: 10px;
  }

  @include iphone5 {
    margin-bottom: 5px;
  }

  @include gFold {
    margin-bottom: 10px;
  }

  @include plus {
    margin-bottom: 10px;
  }

  @include otherMobile {
    margin-bottom: 10px;
  }
}

.location {
  margin-top: 20px;

  @include galaxy {
    margin-top: 10px;
  }

  @include iphoneX {
    margin-top: 10px;
  }

  @include iphone5 {
    margin-top: 10px;
  }

  @include gFold {
    margin-top: 10px;
  }

  @include plus {
    margin-top: 10px;
  }

  @include otherMobile {
    margin-top: 10px;
  }
}

.phone h2,
.email h2,
.location h2 {
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #101f1d;
  font-size: 35px;
  letter-spacing: 1.25px;
}

.phone a,
.email a,
.location a {
  color: #fd4f00;
  font-size: 18px;
}

.form-group {
  margin-bottom: 15px;

  @include galaxy {
    margin-bottom: 5px;
  }

  @include iphoneX {
    margin-bottom: 5px;
  }

  @include iphone5 {
    margin-bottom: 5px;
  }

  @include gFold {
    margin-bottom: 5px;
  }

  @include plus {
    margin-bottom: 5px;
  }

  @include otherMobile {
    margin-bottom: 5px;
  }
}

.contact-info {
  margin-top: -40px;

  @include galaxy {
    flex-direction: column;
    margin-top: -80px;
    font-size: 10px;

    h2 {
      font-size: 13px;
    }

    a {
      font-size: 10px;
    }
  }

  @include iphoneX {
    flex-direction: column;
    margin-top: -90px;
    font-size: 10px;

    h2 {
      font-size: 13px;
    }

    a {
      font-size: 10px;
    }
  }

  @include iphone5 {
    flex-direction: column;
    margin-top: -80px;
    font-size: 10px;

    h2 {
      font-size: 13px;
    }

    a {
      font-size: 10px;
    }
  }

  @include gFold {
    flex-direction: column;
    margin-top: -80px;
    font-size: 10px;

    h2 {
      font-size: 13px;
    }

    a {
      font-size: 10px;
    }
  }

  @include plus {
    flex-direction: column;
    margin-top: -80px;
    font-size: 11px;

    h2 {
      font-size: 14px;
    }

    a {
      font-size: 11px;
    }
  }

  @include otherMobile {
    flex-direction: column;
    margin-top: -90px;
    font-size: 10px;

    h2 {
      font-size: 13px;
    }

    a {
      font-size: 10px;
    }
  }
}
.form-group input,
.form-group textarea {
  font-size: 16px;
}

.location a.btn.btn-accent {
  padding: 12px 26px 10px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background: #2fbfbc;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.3px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #269694;
  }

  @include galaxy {
    padding: 9px 20px 7px;
    font-size: 13px;
  }

  @include iphoneX {
    padding: 9px 20px 7px;
    font-size: 13px;
  }

  @include iphone5 {
    padding: 9px 20px 7px;
    font-size: 13px;
  }

  @include gFold {
    padding: 9px 20px 7px;
    font-size: 13px;
  }

  @include plus {
    padding: 9px 20px 7px;
    font-size: 13px;
  }

  @include otherMobile {
    padding: 9px 20px 7px;
    font-size: 13px;
  }
}
