@import "../../global.scss";

.contact {
  background: $mainBackground;
  display: flex;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  @include surface {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-info {
      overflow: hidden;

      .phone,
      .email {
        margin-bottom: 3vmin; //20px;

        @media (orientation: portrait) {
          margin-top: 2vh;
          margin-bottom: 1vh;
        }
      }

      .itemContainer {
        display: flex;

        .icon {
          font-size: 2.7vmin; //18px;

          @media (orientation: portrait) {
            font-size: 1.9vh;
          }
        }

        a {
          font-size: 2.2vmin; //15px;
          margin-top: 1vh;

          @media (orientation: portrait) {
            font-size: 1.6vh;
          }
        }
      }

      .location {
        margin-top: 3vmin; //20px;
        font-size: 2vmin;
      }

      .phone h2,
      .email h2,
      .location h2 {
        margin-top: 0px;
        margin-bottom: 1vh;
        font-family: "Raleway", sans-serif;
        font-weight: 900;
        color: #101f1d;
        font-size: 5.3vmin; //35px;
        letter-spacing: 0.2vmin; //1.25px;
        overflow: hidden;

        @media (orientation: portrait) {
          font-size: 1.8vh;
        }
      }

      .phone a,
      .email a {
        color: #fd4f00;
        font-size: 2.7vmin; //18px;

        @media (orientation: portrait) {
          font-size: 1.7vh;
        }
      }

      p {
        margin-top: 1vh;
        margin-bottom: 1vh;

        @media (orientation: portrait) {
          font-size: 1.4vh;
        }
      }

      .location a.btn.btn-accent {
        padding: 1vmin 5vmin 1vmin; //12px 26px 10px;
        font-size: 2.5vmin; //16px;
        color: white;
        background: #2fbfbc;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.3px;
        overflow: hidden;

        @media (orientation: portrait) {
          padding: 0.1vh 5vh 0.1vh;
          font-size: 1.7vh;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background: #269694;
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (orientation: portrait) {
      flex: 20vh;
    }

    h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 900;
      color: #101f1d;
      font-size: 4.5vmin; //30px;
      text-transform: uppercase;
      letter-spacing: 0.2vmin; //1.25px;
      margin-bottom: 1vh; //5px;
      overflow: hidden;

      @media (orientation: portrait) {
        font-size: 3vh;
      }
    }

    form {
      //width: 80%;
      //height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .form-control {
        border: 1px solid #080808;
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
      }

      .form-group {
        margin-bottom: 1.5vh; //10px;
      }

      input {
        width: 30vw; //300px;
        height: 4vh; //4.6vh; //30px;
        font-size: 2.2vh; //14px;
        overflow: hidden;

        @include mobile {
          width: 90vw;
        }

        @include tablet {
          width: 70vw;
        }
      }

      textarea {
        width: 30vw; // 300px;
        height: 29vh; //40vh; //200px;
        font-size: 2.2vh; //14px;
        overflow: hidden;

        @include mobile {
          width: 90vw;
        }

        @include tablet {
          width: 70vw;
        }
      }

      button {
        //width: 23vmin; //150px;
        //height: 4.5vmin; //30px;
        padding: 1vmin 15vmin 1vmin;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 2.3vmin;

        @media (orientation: portrait) {
          font-size: 1.7vh;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background: #960220;
        }
      }

      span {
        color: green;
      }
    }
  }
}
