@import "../../global.scss";

.intro {
  background: $mainBackground;
  display: flex;
  overflow: hidden;
  height: 100%;

  @media (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 102.5%;
      height: 117.8%;
      background: linear-gradient(-45deg, #dfe8eb 50%, rgb(63, 60, 60));
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      overflow: hidden;

      @media (orientation: portrait) {
        width: 700px;
        height: 700px;
      }

      @media (orientation: portrait) {
        align-items: flex-start;
      }

      img {
        height: 110%;
        border-radius: 50%;
        overflow: hidden;

        @include galaxy {
          height: 50%;
        }

        @include iphoneX {
          height: 65%;
        }

        @include iphone5 {
          height: 45%;
        }

        @include gFold {
          height: 53%;
        }

        @include plus {
          height: 67%;
        }

        @include otherMobile {
          height: 67%;
        }

        @include surface {
          height: 58%;
        }

        @include ipad {
          height: 85%;
        }

        @include ipadPro {
          height: 115%;
        }
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 7.5%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (orientation: portrait) {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 9.1vmin;
        margin: 10px 0;
        overflow: hidden;

        @media (orientation: portrait) {
          font-size: 10vmin;
        }
      }

      h2 {
        font-size: 5.3vmin;
        overflow: hidden;

        @media (orientation: portrait) {
          font-size: 7vmin;
        }
      }

      h3 {
        font-size: 4.5vmin;
        overflow: hidden;

        @media (orientation: portrait) {
          font-size: 6vmin;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 3%;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
