$mainColor: #4c4c4c;
$mainFontColor: #16181b;
$mainBackgroung: linear-gradient(45deg, #dfe8eb 50%, rgb(63, 60, 60));

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
