$mainColor: #4c4c4c;
$mainFontColor: #16181b;
$mainBackground: linear-gradient(45deg, #dfe8eb 50%, rgb(63, 60, 60));

$width: 768px;

@mixin mobile {
  @media (max-width: 539px) and (min-width: 279px) and (orientation: portrait) {
    @content;
  }
}

@mixin mobileLand {
  @media (max-height: 539px) and (min-height: 280px) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1400px) and (min-width: 540px) and (orientation: portrait) {
    @content;
  }
}

@mixin galaxy {
  @media (max-width: 360px) and (min-width: 321px) and (orientation: portrait) {
    @content;
  }
}

@mixin iphoneX {
  //iPhone6,7,8
  @media (max-width: 375px) and (min-width: 361px) and (orientation: portrait) {
    @content;
  }
}

@mixin iphone5 {
  @media (width: 320px) and (orientation: portrait) {
    @content;
  }
}

@mixin gFold {
  //Galaxy Fold
  @media (max-width: 319px) and (min-width: 279px) and (orientation: portrait) {
    @content;
  }
}

@mixin otherMobile {
  @media (max-width: 409px) and (min-width: 376px) and (orientation: portrait) {
    @content;
  }
}

@mixin plus {
  //iPhone plus & Pixel
  @media (max-width: 539px) and (min-width: 410px) and (orientation: portrait) {
    @content;
  }
}

@mixin surface {
  @media (max-width: 719px) and (min-width: 540px) and (orientation: portrait) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 1023px) and (min-width: 720px) and (orientation: portrait) {
    @content;
  }
}

@mixin ipadPro {
  @media (max-width: 1100px) and (min-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin iphone5_land {
  @media (max-width: 639px) and (min-width: 568px) and (orientation: landscape) {
    @content;
  }
}
